/EmailValidation/nbproject/private/
/EmailValidation/build/
/FromReadAndwrite/nbproject/private/
/FromReadAndwrite/build/
/Bank ATM Management System/nbproject/private/
/Bank ATM Management System/build/
